@font-face {
  font-family: 'Barlow 600'; /*a name to be used later*/
  src: url('assets/fonts/Barlow/Barlow-SemiBold.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Barlow Bold'; /*a name to be used later*/
  src: url('assets/fonts/Barlow/Barlow-Bold.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Barlow Extra Bold'; /*a name to be used later*/
  src: url('assets/fonts/Barlow/Barlow-ExtraBold.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Fraunces 700'; /*a name to be used later*/
  src: url('assets/fonts/Fraunces/static/Fraunces_144pt-Bold.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Fraunces 900'; /*a name to be used later*/
  src: url('assets/fonts/Fraunces/static/Fraunces_144pt-Black.ttf') /*URL to font*/
}


html,body,#root {
  margin: 0;
  height: 100%;
  width: 100%;
}